<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../src/js.css">
    <title>CommerceHub</title>
  </head>
  <body class="bg-[#F9F9FC]">
    <!-- Navbar -->
    <div class="flex justify-center flex-row w-full items-center justify-between gap-[556px] px-[20px] py-[20px]">
      <a class="text-[24px] font-bold text-[#00654B] cursor-pointer tracking-[-0.25px]" href="home.html">CommerceHub</a>
      <div class="border border-[#BDC9C2] bg-[#F3F3F6] rounded-[8px] px-[12px] py-[12px] w-[500px] flex flex-row items-center gap-[12px] justify-center">
        <svg class="" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="3E4944" d="m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14"/></svg>
        <input type="text" class="w-full focus:outline-0" placeholder="Search for products, brands, and more...">
      </div>
      <a href="" class="cursor-pointer">
        <svg class="hover:scale-110 hover:animate-pulse" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#00654B" d="M17 18a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2M1 2h3.27l.94 2H20a1 1 0 0 1 1 1c0 .17-.05.34-.12.5l-3.58 6.47c-.34.61-1 1.03-1.75 1.03H8.1l-.9 1.63l-.03.12a.25.25 0 0 0 .25.25H19v2H7a2 2 0 0 1-2-2c0-.35.09-.68.24-.96l1.36-2.45L3 4H1zm6 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2m9-7l2.78-5H6.14l2.36 5z" stroke-width="0.5" stroke="#00654B"/></svg>  
      </a>
    </div>
    <div class="flex justify-center flex-col gap-6">
      <!-- Banner -->
       <div class=" flex justify-center">
         <div class=" w-[1160px] h-[300px] rounded-[12px] relative">
           <img src="../assets/Banner.png" alt="" class="object-cover absolute w-full h-full rounded-[12px]">
           <span class="bg-[#00654B]/80 absolute w-full h-[300px] rounded-[12px]"></span>
           <div class="flex flex-col w-full h-full justify-center">
             <div class="absolute gap-2 flex flex-col pl-[24px]">
               <h1 class="text-[#D6FFEB] font-semibold text-[30px]">Shop Smart, Shop Easy</h1>
               <p class="text-[#D6FFEB] font-[16px]">Find a variety of the best products at affordable prices, directly from one place.</p>
               <button class="w-[144px] h-[56px] bg-[#008060] text-[#D6FFEB] rounded-[8px] hover:bg-[#017558] hover:font-semibold cursor-pointer">Explore Now</button>
              </div>
            </div>
            </div>
      </div>

      <!-- Featured Products text -->
      <div class="flex justify-center">
        <div class="flex flex-row justify-between w-[1152px]">
          <div class="flex flex-col">
            <h1 class="font-semibold text-[24px]">Featured Products</h1>
            <p class="text-[16px] text-[#3E4944]">Top picks for your professional workspace</p>
          </div>
          <div class="flex flex-row items-center gap-[4px] cursor-pointer">
            <a class="text-[16px] text-[#4547D7]">View all</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="#4547D7" d="M4 11v2h12l-5.5 5.5l1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5L16 11z"/></svg>
          </div>
        </div>
        
      </div>
      
      <!-- Products -->
      <div class="flex justify-center">
        <div id="featuredProducts" class="w-[1154px] flex flex-row gap-[13px] flex-wrap">
          <!-- Card 1 -->
          <div onclick="" class="w-[220.4px] h-[484px] flex flex-col items-center border border-[#E8E8EA] bg-[#FFFFFF] rounded-[12px] gap-2 duration-300 hover:scale-103 hover:border-[#c7c7c7] cursor-pointer">
            <div class="w-full h-[216px] overflow-hidden rounded-t-[12px]">
              <img src="${index.image}" alt="img.png" class="w-full h-[216px] flex rounded-t-[12px] object-cover duration-300 hover:scale-110">
            </div>    
                <h1 class="text-[20px] text-[#1A1C1E] font-semibold text-center" title="${index.title}">${index.title}</h1>
                <p class="text-[16px] text-[#3E4944] text-left w-[188.4px] flex" title="${index.description}">${index.description}</p>
             </div>            
        </div>
      </div>
    </div>
      
      <script src="../src/app.js"></script>
    </body>
    </html>
    
    <!-- {
      "id": 1,
      "title": "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
      "price": 109.95,
      "description": "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
      "category": "men's clothing",
      "image": "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png",
      "rating": {
        "rate": 3.9,
        "count": 120
        }
        } -->