<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../src/js.css">
  </head>
  <body class="bg-[#F9F9FC]">
    <div class="flex justify-center flex-col gap-6">
      <!-- Banner -->
       <div class=" flex justify-center">
         <div class=" w-[1160px] h-[300px] rounded-[12px] relative">
           <img src="../assets/Banner.png" alt="" class="object-cover w-full h-full rounded-[12px]">
           <div class="bg-[#00654B]/80 absolute"></div>
        </div>
      </div>

      <!-- Featured Products text -->
      <div class="flex justify-center">
        <div class="flex flex-row justify-between w-[1152px]">
          <div class="flex flex-col">
            <h1 class="font-semibold text-[24px]">Featured Products</h1>
            <p class="text-[16px] text-[#3E4944]">Top picks for your professional workspace</p>
          </div>
          <div class="flex flex-row items-center gap-[4px] cursor-pointer">
            <a class="text-[16px] text-[#4547D7]">View all</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path fill="#4547D7" d="M4 11v2h12l-5.5 5.5l1.42 1.42L19.84 12l-7.92-7.92L10.5 5.5L16 11z"/></svg>
          </div>
        </div>
        
      </div>
      
      <!-- Products -->
      <div class="flex justify-center">
        <div id="featuredProducts" class="w-[1160px] flex flex-row gap-[13px] flex-wrap">
          <!-- Card 1 -->
          <div class="w-[220.4px] h-[484px] flex flex-col items-center border border-[#E8E8EA] rounded-[12px] gap-2 hover:scale-101">
            <img src="../assets/Product.png" alt="" class="size h-[216px]">
            <h1 class="text-[20px] text-[#1A1C1E] font-semibold text-center">Minimalist Ceramic Watch</h1>
            <p class="text-[16px] text-[#3E4944] text-left w-[188.4px] flex">A timeless piece featuring a scratch-…</p>
          </div>         
        </div>
      </div>
    </div>
      
      <script src="../src/app.js"></script>
    </body>
    </html>
    
    <!-- {
      "id": 1,
      "title": "Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops",
      "price": 109.95,
      "description": "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
      "category": "men's clothing",
      "image": "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_t.png",
      "rating": {
        "rate": 3.9,
        "count": 120
        }
        } -->